
.technology span{
    background: #5a8086;
    margin-right: 5px;
    margin-top: 5px;
    border-radius: 3px;
    padding: 3px 10px;
    font-size: 13px;
    height: 26px;
    color: #fff;
}
.technology{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;
}


.page-title h3 {
    border-bottom: 2px solid blue;
    width: 100px;
    padding-bottom: 10px;
    padding-bottom: 6px;
   
}

.technology span{
    transition: 1s;
}
.technology span:hover {
    background-color: #ff2572;
    transition: .3s;
}
.myimg{
    transition: .6s;
}
.myimg:hover{
    transform: scale(1.02);
    transition: .6s;
}
.skills-content{
  background-color: rgb(7, 117, 117);
  color:white;
  padding:10px;
  border-radius: 10px;
  text-align:center;
  box-shadow: 14px 16px 46px -15px #131414;
}