
.smoll-size-icon {
    display: flex;
    margin-right: 10px;
}

ul.list-items {
    display: flex;
}

ul.list-items li {
    list-style: none;
    margin-right: 14px;
}

.small-size-icon {
    width: 300px;
    margin: auto;
}
.github{
    color: rgb(46, 44, 44);
    font-size: 30px;
    margin-top: 10px;
    
}
.github:hover{
    color: rgb(255, 254, 254);

}
.RESUME{
    color: rgb(243, 10, 10);
    font-size: 30px;
    margin-top: 10px;
    
    
}
.RESUME:hover{
    color: rgb(255, 254, 254);

}
.linkedin{
    color:#0077b5;
    font-size: 30px;
}
.facebook{
    color:#3b5998;
    font-size: 30px;
}
.mailto{
    color: #d41b0e;
    font-size: 30px;
}
/* fixed part */

.social-bar{
    position: fixed;
    bottom: -15px;
}

.list-unstyled {
    padding-left: 0;
    list-style: none;
}

.social-bar a {
    display: inline-block;
    margin-bottom: 20px;
    transition: all .3s;
}
.social-bar:after {
    content: "";
    display: block;
    width: 1px;
    height: 150px;
    margin: 0 auto;
    background-color: #6047ec;
}
dl, ol, ul {
    padding-top: 10px;
    margin-bottom: 0 !important;
}
.list-unstyled li a{

   /* background-color: rgb(250, 248, 248); */
   padding: 2px 7px;
  
   text-align: center;
   transition: all 0.5s ease-in-out;
   background: rgba( 255, 255, 255, 0.25 );
   box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
   backdrop-filter: blur( 18.5px );
   -webkit-backdrop-filter: blur( 18.5px );
   border-radius: 10px;
   border: 1px solid rgba( 255, 255, 255, 0.18 );
}
.list-unstyled li a:hover{
    background-color: #1e3f64;
    transform:scale(1.5) !important;
    color: white;
    margin-left:15px;
}